In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Preprocessed_Dataset.csv')

In [3]:
df.head()

,Unnamed: 0,category,comb
0,0,ENTERTAINMENT,"['smith', 'join', 'diplo', 'nicky', 'jam', '20..."
1,1,ENTERTAINMENT,"['hugh', 'grant', 'marry', 'first', 'time', 'a..."
2,2,ENTERTAINMENT,"['jim', 'carrey', 'blast', 'castrato', 'adam',..."
3,3,ENTERTAINMENT,"['julianna', 'margulies', 'use', 'donald', 'tr..."
4,4,ENTERTAINMENT,"['morgan', 'freeman', 'devastate', 'sexual', '..."

In [4]:
df.drop(columns=['Unnamed: 0'],inplace=True)

In [5]:
df

             category                                               comb
0       ENTERTAINMENT  ['smith', 'join', 'diplo', 'nicky', 'jam', '20...
1       ENTERTAINMENT  ['hugh', 'grant', 'marry', 'first', 'time', 'a...
2       ENTERTAINMENT  ['jim', 'carrey', 'blast', 'castrato', 'adam',...
3       ENTERTAINMENT  ['julianna', 'margulies', 'use', 'donald', 'tr...
4       ENTERTAINMENT  ['morgan', 'freeman', 'devastate', 'sexual', '...
...               ...                                                ...
78027          TRAVEL  ['tea', 'time', 'beneath', 'western', 'ghats',...
78028        WELLNESS  ['begin', 'surprise', 'advice', 'centenarian',...
78029  STYLE & BEAUTY  ['cheryl', 'tiegs', 'sauna', 'look', 'back', '...
78030   ENTERTAINMENT  ['sundance', 'icet', 'shade', 'american', 'rac...
78031   ENTERTAINMENT  ['girl', 'dragon', 'tattoo', 'india', 'release...

[78032 rows x 2 columns]

In [6]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split

X = df['comb']
y = df['category']

In [7]:
X

0        ['smith', 'join', 'diplo', 'nicky', 'jam', '20...
1        ['hugh', 'grant', 'marry', 'first', 'time', 'a...
2        ['jim', 'carrey', 'blast', 'castrato', 'adam',...
3        ['julianna', 'margulies', 'use', 'donald', 'tr...
4        ['morgan', 'freeman', 'devastate', 'sexual', '...
                               ...
78027    ['tea', 'time', 'beneath', 'western', 'ghats',...
78028    ['begin', 'surprise', 'advice', 'centenarian',...
78029    ['cheryl', 'tiegs', 'sauna', 'look', 'back', '...
78030    ['sundance', 'icet', 'shade', 'american', 'rac...
78031    ['girl', 'dragon', 'tattoo', 'india', 'release...
Name: comb, Length: 78032, dtype: object

In [8]:
y

0         ENTERTAINMENT
1         ENTERTAINMENT
2         ENTERTAINMENT
3         ENTERTAINMENT
4         ENTERTAINMENT
              ...
78027            TRAVEL
78028          WELLNESS
78029    STYLE & BEAUTY
78030     ENTERTAINMENT
78031     ENTERTAINMENT
Name: category, Length: 78032, dtype: object

In [9]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.33,random_state=42)

In [10]:
y_test

69034          WELLNESS
62848            TRAVEL
55120            TRAVEL
33829          POLITICS
72485            TRAVEL
              ...
66231          WELLNESS
13642          POLITICS
24199          POLITICS
21423     ENTERTAINMENT
48087    STYLE & BEAUTY
Name: category, Length: 25751, dtype: object

In [11]:
tfidf_vectorizer = TfidfVectorizer()

tfidf_vectorizer.fit_transform(df['comb'])

<78032x59830 sparse matrix of type '<class 'numpy.float64'>'
	with 1352842 stored elements in Compressed Sparse Row format>

In [12]:
train_feature_set=tfidf_vectorizer.transform(X_train)
test_feature_set=tfidf_vectorizer.transform(X_test)

In [13]:
train_feature_set

<52281x59830 sparse matrix of type '<class 'numpy.float64'>'
	with 906519 stored elements in Compressed Sparse Row format>

In [14]:
from sklearn.linear_model import LogisticRegression

log_reg = LogisticRegression(verbose=1, solver='liblinear',random_state=0, C=5, penalty='l2',max_iter=1000)
model=log_reg.fit(train_feature_set,y_train)

[LibLinear]

In [15]:
from sklearn.metrics import accuracy_score

y_pred = log_reg.predict(test_feature_set)
score = accuracy_score(y_test,y_pred)
score

0.9050910644246826

In [21]:
y_pred

array(['WELLNESS', 'TRAVEL', 'TRAVEL', ..., 'POLITICS', 'ENTERTAINMENT',
       'STYLE & BEAUTY'], dtype=object)

In [19]:
y_test

69034          WELLNESS
62848            TRAVEL
55120            TRAVEL
33829          POLITICS
72485            TRAVEL
              ...
66231          WELLNESS
13642          POLITICS
24199          POLITICS
21423     ENTERTAINMENT
48087    STYLE & BEAUTY
Name: category, Length: 25751, dtype: object

In [22]:
np.array(y_pred)

array(['WELLNESS', 'TRAVEL', 'TRAVEL', ..., 'POLITICS', 'ENTERTAINMENT',
       'STYLE & BEAUTY'], dtype=object)

In [27]:
result = pd.DataFrame(np.transpose(np.vstack([y_pred,y_test])),columns=['Prediction','Actual'])

In [28]:
result

           Prediction          Actual
0            WELLNESS        WELLNESS
1              TRAVEL          TRAVEL
2              TRAVEL          TRAVEL
3            POLITICS        POLITICS
4              TRAVEL          TRAVEL
...               ...             ...
25746        WELLNESS        WELLNESS
25747        POLITICS        POLITICS
25748        POLITICS        POLITICS
25749   ENTERTAINMENT   ENTERTAINMENT
25750  STYLE & BEAUTY  STYLE & BEAUTY

[25751 rows x 2 columns]

In [31]:
main = pd.read_csv('Dataset.csv')

In [32]:
main.head()

,Unnamed: 0,headline,short_description,category
0,1,Will Smith Joins Diplo And Nicky Jam For The 2...,Of course it has a song.,ENTERTAINMENT
1,2,Hugh Grant Marries For The First Time At Age 57,The actor and his longtime girlfriend Anna Ebe...,ENTERTAINMENT
2,3,Jim Carrey Blasts 'Castrato' Adam Schiff And D...,The actor gives Dems an ass-kicking for not fi...,ENTERTAINMENT
3,4,Julianna Margulies Uses Donald Trump Poop Bags...,"The ""Dietland"" actress said using the bags is ...",ENTERTAINMENT
4,5,Morgan Freeman 'Devastated' That Sexual Harass...,"""It is not right to equate horrific incidents ...",ENTERTAINMENT

In [33]:
result['Headline'] = main['headline']

In [42]:
result

,Prediction,Actual,Headline
0,WELLNESS,WELLNESS,Will Smith Joins Diplo And Nicky Jam For The 2...
1,TRAVEL,TRAVEL,Hugh Grant Marries For The First Time At Age 57
2,TRAVEL,TRAVEL,Jim Carrey Blasts 'Castrato' Adam Schiff And D...
3,POLITICS,POLITICS,Julianna Margulies Uses Donald Trump Poop Bags...
4,TRAVEL,TRAVEL,Morgan Freeman 'Devastated' That Sexual Harass...
...,...,...,...
25746,WELLNESS,WELLNESS,Brexit Crisis Tops Off Rough Stretch In Obama'...
25747,POLITICS,POLITICS,Donald Trump Appears To Shift On Muslim Ban
25748,POLITICS,POLITICS,George Will Jumps From Sinking Ship That Is Th...
25749,ENTERTAINMENT,ENTERTAINMENT,Kylie Jenner Giving Tyga 'Another Shot' At Gro...
25750,STYLE & BEAUTY,STYLE & BEAUTY,Watch Rory Gilmore Geek Out With Michelle Obam...

In [274]:
result[result['Prediction']!=result['Actual']]

,Prediction,Actual,Headline
20,WELLNESS,ENTERTAINMENT,"Kanye West Spent $85,000 On Photo Of Whitney H..."
22,ENTERTAINMENT,POLITICS,People Are Rattled By How Much This Nigerian M...
66,WELLNESS,STYLE & BEAUTY,Fans Back Jessica Walter After She Addressed V...
69,POLITICS,ENTERTAINMENT,Scott Pruitt Twice Introduced Anti-Abortion Bi...
85,TRAVEL,STYLE & BEAUTY,Betsy DeVos Stirs Uproar By Saying Schools Can...
...,...,...,...
25702,STYLE & BEAUTY,ENTERTAINMENT,HUFFPOLLSTER: Hillary Clinton Pulls Further Ah...
25719,ENTERTAINMENT,WELLNESS,Sony's Michael Jackson Deal To Be Decided By A...
25720,POLITICS,ENTERTAINMENT,Wendy Davis Just Won: Supreme Court Vindicates...
25723,WELLNESS,POLITICS,"It's Been A Bad Month For Donald Trump, And Th..."
25727,ENTERTAINMENT,STYLE & BEAUTY,Adele Fan Gets More Than She Bargained For Whe...

In [164]:
import string 
from nltk.tokenize import word_tokenize 
import nltk
from nltk.stem import WordNetLemmatizer

wnl = WordNetLemmatizer()
stopwords = nltk.corpus.stopwords.words('english')

def remove_punctuation(text):
    punctuationfree="".join([i for i in str(text) if i not in string.punctuation and i not in "'"])
    return punctuationfree

In [165]:
def remove_stopwords(text):
    output= [i for i in text if i not in stopwords]
    return output

In [166]:
def lemmatizer(text):
    l = [wnl.lemmatize(word,pos="v") for word in text]
    return l

In [203]:
def preprocess_text(text):
    text = remove_punctuation(str(text))
#     print(text)
    text = str(text).lower()
#     print(text)
    text = word_tokenize(str(text))
#     print(text)
    text = remove_stopwords(text)
#     print(text)
    text = lemmatizer(text)
#     print(text)
    return text

In [275]:
from statistics import mode
def get_prediction(text):
    freq = {}
    text = preprocess_text(text)
    #print("Preprocessed Text: ",text)
    transformed_text = tfidf_vectorizer.transform(text)
    preds = model.predict(transformed_text)
    
    for pred in preds:
        if(pred in freq):
            freq[pred]+=1
        else:
            freq[pred]=1
    #lassified domains: ",freq)
    return mode(freq)

In [276]:
get_prediction("Yoga is the new fitness mantra for the young")

'WELLNESS'

In [277]:
get_prediction("Kate Middleton and Prince William sparkle in new photo with New Year's message")

'STYLE & BEAUTY'

In [278]:
get_prediction("Assembly polls 2022: Uttarakhand AAP leader joins Congress")

'POLITICS'

In [279]:
get_prediction("Kajal Aggarwalâ€™s husband Gautam Kitchlu confirms her pregnancy: 'Hereâ€™s looking at you 2022'")

'ENTERTAINMENT'

In [280]:
get_prediction("Orient Express returns to Italy after nearly 50 years") #Actual domain is travel

'ENTERTAINMENT'